<li class="column-box load">
  <figure>
    <a href="{{url}}">
      <img src="/images/shared/ajax_load.gif" data-origin="{{picUrl}}" alt="" class="img">
    </a>
  </figure>
  <figcaption class="tit clip">{{title}}</figcaption>
  <div class="price-group clearfix">
    <span class="icon">天猫</span>
          <span class="price">
            <i>¥</i>{{promoPriceStr}}
          </span>
    <del class="source-price"><i>¥</i>{{priceStr}}</del>
  </div>
  <div class="num">
    月销量：{{joinNum}}
  </div>
</li>